.footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 24px 0;

    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .header__brand{
        color: var(--color-white);

        &:hover{
            color: var(--color-primary);
        }
    }

    .line{
        background-color: #373737;
        height: 2px;
        width: 100%;
    }
}

.nav-footer{
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 16px;

        a{
            background-color: #373737;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-white);
            transition: all 0.5s ease-in;

            &:hover{
                color: var(--color-black);
                background-color: var(--color-primary);
            }
        }
    }
}