.hero{
    width: 100%;
    height: 90vh;
}

.hero__media {
    height: 100%;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;

        @media screen and (max-width: 1100px) {
            object-position: 80% 50%;
            filter: brightness(70%);
        }

        @media screen and (max-width: $breakpoint-sm) {
            object-position: 90% 50%;
            filter: brightness(50%);
        }
    }
}

.hero__contenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 560px) {
        align-items: end;
        padding-bottom: 8px;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    h1 span{
        font-weight: 700;
    }

    p{
        color: var(--color-white);
        width: 50%;

        @media screen and (max-width: $breakpoint-ml) {
            width: 75%;
        }

        @media screen and (max-width: $breakpoint-sm) {
            width: 100%;
        }
    }
}